.banner {
background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fvnexpress.net%2Fchu-de%2Ftruong-thpt-chu-van-an-2261&psig=AOvVaw3MhHyoWVvJnSA6GcqQDe7X&ust=1763311731334000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCPC0qKHO9JADFQAAAAAdAAAAABAE") no-repeat center center;
background-size: cover;
padding-top: 12rem;
padding-bottom: 12rem;
text-align: center !important;
color: white !important;
}
slogan {
text-align: center !important;
width: 100%;
}
.row {
display: flex;
flex-wrap: wrap;
margin-top: -1;
max-width: 100%;
padding-right: 3rem;
padding-left: 6rem;
background-color: lightgrey;
text-align: center !important;
}
.block_3{
flex: 00 auto;
width: 30%;
margin: 10px;
}
.cell_img {
width: 50%;
}
.cell_text{
width: 50%;
padding-left: 10rem;
}
.img {
width: 100%;
height: 100%;
}
footer {
background-color: lightgrey;
margin: 1px;
padding: 10px;
}
.link {
color: navy;
text-align: left;
}
menu {
font-size:120%;
text-decoration: none;
}
.menu {
    font-size: 20px;
    font-weight: bold;
    display: block;
    padding: 10px 5px;
}




